body {
  background-color: #eee;
}

.grid {
  display: grid;
  grid-template-areas: "header header"
		       "content sidebar"
		       "footer footer";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
}

.header {
  grid-column-start: col-inicio;
  grid-column-end: col-fin 3;
  grid-row-start: row-inicio;
  grid-row-end: row-fin 3;
}

.red {
  background-color: red;
}

.item-1 {
  align-self: center;
  justify-self: center;
}
