body {
  background-color: #eee;
}

.grid {
  display: inline-grid;
  grid-template-rows: repeat(2, [row-inicio] 50px [row-fin]);
  grid-template-columns: repeat(3, [col-inicio] 1fr [col-fin]);
  grid-gap: 15px;
}

.element {
  background-color: red;
}

.header {
  grid-column-start: col-inicio;
  grid-column-end: col-fin 3;
  grid-row-start: row-inicio;
  grid-row-end: row-fin 3;
}
