body {
  background-color: #eee;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3em;
  font-weight: 900;
  background-color: #f00;
  border: solid 1px #d00;
  padding: 15px;
  margin: 25px;
  border-radius: 3px;
}

a:link {
  color: pink;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color:white;
  background-color: #f55;
}

a:active {
  color: black;
}
